[Unit]
Description=Raspberry Pi System Monitor for Home Assistant
After=network-online.target
 
[Service]
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/python3 /usr/bin/home-assistant-sysmon.py
User=root
Restart=always
 
[Install]
WantedBy=multi-user.target
